In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./train.csv')
df.shape

(2834, 6)

In [3]:
df.head(2)

,id,url_legal,license,excerpt,target,standard_error
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805

In [18]:
idx = 25
df.excerpt.values[idx],df.target.values[idx]

('When Nick Ribsam set out to find his missing sister Nellie, he made the search as thorough as possible.\nThe first house at which he stopped was that of Mr. Marston, which, it will be remembered, was only a short distance away from his own home. There, to his disappointment, he learned that their little girl had not been at school that day, and consequently they could tell him nothing.\nWithout waiting longer than to give a few words of explanation he resumed his trot, and soon after turned into the lane leading to the home of Mr. Kilgore. He found that both Bobby and Sallie had been to school, but they had nothing to tell. When we are more than usually anxious to learn something, it seems that every one whom we meet is stupid beyond endurance. If we are in a strange place and apply for information, the ignorance of nearly every person is exasperating.',
 0.633138503)